body {
  font-family: 'Lato', sans-serif;
}

.blankslate {
  text-align: center;
  padding: 35.5px 0;
}

#player {
  border-radius: .25rem;
}

.videoInput {
  margin-bottom: 0!important;
}

.videoInput>.card-header {
  border-bottom: none;
}

.row {
  margin-top: 30px;
}

.chat {
  height: 185px;
  overflow: scroll;
}

.card {
  margin-bottom: 30px;
}

/* USERNAME SELECTOR */
.username-selector {
  text-align: center;
}

.username-selector>.card {
  width: 600px;
  height: 650px;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-300px;
  margin-top:-325px;
}

.username-selector .logo {
  background: url('https://www.3dhubs.com/s3fs-public/talk/attachments/YouTube-Gaming-Icon.png');
  background-size: cover;
  display: inline-block;
  width: 400px;
  height: 400px;
}
